p {
    color: aliceblue;
}
canvas{
    background-color: black;
    margin:0;
}
renderer{
    height: 80%;
    width: 100%;
    margin: 0;
}
bottomPanel{
    height: 50px;
}
button{
    background-color: black;
    color:green;
    border: solid;
    border-color: green;
    outline: none;
    margin:0;
}

.angular-with-newlines {
    white-space: pre-wrap;
    }