p {
    color: aliceblue;
}
canvas{
    background-color: black;
    margin:0;
}

button{
    background-color: black;
    color:green;
    border: solid;
    border-color: green;
    outline: none;
    margin:0;
}